body {
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  .content-area {
    margin: 30px;
  }
  .input-area {
    margin: 25px;
  }
  .task-text {
    display: flex;
    align-items: center;
    height: 40px;
  }
  .hidden {
    display: none;
  }
  .delete-icon-area {
    display: flex;
    align-items: center;
    height: 40px;
    flex-wrap: inherit
  }
  .delete-icon {
    color: red;
  }
  .complete {
    text-decoration: line-through;
  }
  .icon{
    color: #28a745;
    padding-right: 5px;
  }
 .row{
  display: flex;
  flex-wrap: inherit !important;
  margin-right: 0px !important;
 }
  .navbar-brand{
    color: #28a745;
    margin-left: 360px;
    font-weight: bold;
  }
  .list-group{
    margin-top: 60px;
  }
  .btnC{
    margin-left: 96px;
    margin-top: 40px;
  }
  .btn{
    width: 94px;
    height: 40px;
  }